<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coursesmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/courseapplogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".RequestCourses"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrendingCourses"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpcomingCourses"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OngoingCourses"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaidCourses"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FreeCourse"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomescreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>